/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Arial', sans-serif; line-height: 1.5; }


.monster-logo {
  background-repeat: no-repeat;
  max-width: 100vw;
  width: 20dvw;
  /* height: 3px; */
  margin-left: 0;
  margin-left: 39%;

}
.monster-texth2 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  color: #4a2c1e; 
  
}
.fuente-NanumMyeongjo{
  font-family: "Prata", serif !important;
  font-weight: 400;
  font-style: normal;
}
.fuente-Manjari{
  font-family: "Manjari", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 700; */
  font-style: normal;
}

.monster-text-style2 {
  font-family: "Nunito", sans-serif;
  /* line-height: 2px; */
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
  margin-top: 1px;
  margin-bottom: 3px;
  color: #774620;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: #4a2c1e;
  margin-bottom: 40px;
}
 
  
/* Sección taza */
.coffee-cup-img {
  display: block;
  width: 100%;
  height: auto;
  width: 100%;
}
/* Info con texto + imagen */
.marcado{
  font-weight: bold;
  color: #f37928;
}
.info-el-cafe{
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  margin-left: 60%;
  margin-right: 10%;
  margin-top: 5%;
}


.info-acerca-de {
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 20px;
  font-style: normal;
  margin-left: 7%;
  margin-right: 10%;
  margin-top: 5%;
  color: #ffffff;
  padding-top: 35%;
}
.info-descubre-nuestra{
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  margin-left: 7%;
  margin-right: 10%;
  color: #ffffff;
  line-height: 16px;
}
.info-Conocer-mas {
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  margin-left: 67%;
  margin-right: 10%;
  padding-top: 40px;
  color: #c4c3c3;
}

/* Secciones de fondo */
.background-section {
  background-image: url(./vasito.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 15%;
  position: relative;
  min-height: 10vw;
  color: #fff;
  width:40vw;
}
.sabores-texto{
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 47px;
  color: #ffffff; 
  
}
.background-sectionbutton {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem 15rem;
  border-radius: 8px;
  cursor: pointer;
}
/* Fondo específico */
.sabores {
  background: url(./sabores.jpg) center/cover no-repeat;
  display: block;
  height: auto;
  height: 20vw;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 182%;
  
}
.granos {
  background: url(./granos.png) center/cover no-repeat;
  display: block;
  height: auto;
  height: 20vw;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 182%;
}
/* Footer */
.final-text {
  padding: 6rem 1rem;
  text-align: center;
  font-size: 20px;
  color: #333;
}