.caja{
 background-color: rgb(255, 87, 255);
 height: 400px;
 width: 300px;
 scale: 0.5;
 box-shadow: 5px 5px rgb(255, 255, 255);
 transition: scale 0.5 ease, box-shadow 0.3s ease-in;
}
.caja:hover{
 scale: 0.5s;
 background-color: rgb(255, 87, 137);
 box-shadow: 5px 5px gray;
}