*{
  box-sizing: border-box;
  max-width: 100%;
}
.text{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ff7eaf; 
}
col{
  display:flex;
  justify-content: center;
}
div, p, body, a, img{
  border: 0px solid;
  color: black;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.button-size{
  padding: 2%;
  border: 2px solid transparent;
}
body{
  margin: 0%;
  padding: 0%;
}
a:active, a{
  text-decoration: none !important;
  color: white;
}
.botton-hover:hover{
  border: 2px solid;
  border-color: white;
}
.estilo-barra{
  background-color: rgb(255, 255, 255);
}
.estilo-sombra{
  box-shadow: 5px 5px 10px gray;
}
.sticky-menu{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 5px 5px px rgba(0, 0, 0, 5);
}
.col-menu{
  display: flex;
  justify-content: space-between;
}
.col-menu-center{
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.espaciado{
  padding: 2%;
  border: 1px solid transparent;
}
.imagen-fondo{
  /* background-image: url(./paisaje.png); */
  /* background-repeat: no-repeat; */
  /* height: 400px; */
  background-size: 100vw;
  position: relative;
  width: 100%
}
.text-viaja{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ffffff; 
}
.text-cotizar{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff; 
}
.boton-cotizar{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.3rem 1.5rem;
  border-radius: 0px;
  cursor: pointer;
}
.cuadro{
  background: transparent;
  /* opacity: 50%; */
  color: transparent;
  cursor: pointer;

  position: absolute;
  width: 54%;
  top: 16%;
  transform: translateY(50%);
  left: 8%;
  bottom: 38%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-fondo {
  position: relative;
}
#francia{
  background-image: url(./francia.png);
}
#italia{
  background-image: url(./italia.png);
}
#japon{
  background-image: url(./JAPON.png);
}
#japon,#italia,#francia{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 165px;
  position: relative;
}

.contenedor-card{
  width: 280px;
  background-color: #F6F6F6;
  border-radius: 9px;
  height: 380px;  
}
.col{
  display: flex;
  justify-content: center;
  
  margin: 4% auto;
  gap:7%;
}
.col--{
  display: flex;
  justify-content: center;
  

  gap:7%;
}
.card-tamano{
  width: 280px;
  height: 400px;
  background-color: #F6F6F6;
  position: relative;
  border-radius: 9px;
}
.ver-mas{
  position: absolute;
  right: 10%;
}
.nuevo{
  background-color: yellow;
  position: absolute;
  width: 59px;
  height: 20px;
  border-radius: 22px;
  top: 5%;
  left: 75%;
  text-align: center;
}
.visita-pais{
  background-color: black;
  color: white;
  width: 280px;
  opacity: 78%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 22px;
  position: absolute;
  top: 75%;
  text-align: left;
  }
.text-nuevo{
  color: black;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: yellow; 
  text-align: center;
  width: 70px;
  position: relative;
  left: 70%;
  top: 5%;

  }

  
