.caja1{
    height: 250px;
    background-color: rgb(41, 77, 117);
    flex: 2 1 150px;
    color: azure;
}
.caja2{
    height: 250px;
    background-color: rgb(41, 77, 117);
    flex: 0 0 200px;
    color: azure;
}


.col{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}
.textcajas{
    font-family: "Manjari", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 10px;
    font-style: normal;
    box-sizing: border-box;
    max-width: 100%;
}