:root{
    font-size: max(1vw,1vh);
}
*{
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.parte-1{
    /* padding-left:24.5vw; */
    width:100vw;
}
.espacio-1{
    margin-left:24.5%;
    width:63.6%;
    display:flex;
    gap:2%;
    margin-bottom: 5%;
    #foto-1{
        width:49%;
    }
    .caja-texto{
        display: flex;
        flex-direction: column;
        flex-flow:column-reverse;
        h1{
            font-size: 1.5;
        }
    }
}
.espacio-2{
    /*
        1209px
    */
    margin-left: 10%;
    width: 78.2%;
    display: flex;
    align-items: end;
    gap:2%;
    margin-bottom: 15%;
    .texto{
        display: block;
        width: 26.3%;
        
    }
    img{
        aspect-ratio: 1;
    }
    #foto-2,#foto-3{
        width: 16.8%;
    }
    #foto-4{
        width: 31.6%;
    }
}

.banner{
    position: relative;
    width:100%;
    aspect-ratio: 1733 / 671;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    .fondo{
        display: block;
        width:100%;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        z-index: -1;
    }
    .contenido{
        margin: 1.5vw 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:19%;
        
        .caja-texto{
            width:40%;
            color:white;
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.25rem;
            }
        }
        .caja-boton{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: left;
            /* padding:0% 5%; */
            button{
                display: block;
                flex: 0 0 auto;
                width:90%;
                aspect-ratio: 432/96;
                border-radius: 50px;
                background-color: #F88ED4;
                font-size:1.7rem;
            }
        }
    }
}