body{
    font-family: "Khula", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.col{
    display: flex;
    margin: 0 150px 0 150px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.serpiente{
    background-color: #EF798A;
}

.elefante{
    background-color: #F1D302;
}

.pavo-real{
    background-color: #1282A2;
}

.flamingo{
    background-color: #57CC99;
}

.box-style{
    text-align: center;
    height: 270px;
    width: 230px;
    border-radius: 10px;
}

img{
    padding: 10% 0 10% 0;
}

a{
    color: black;
}

h2{
    margin: 5% 0 1% 20%; ;
}

@media (max-width:500px) {
    .box-style{
        width:100%;
        /* background-color: red; */
    }
}
@media (max-width:986px) {
    body{
        background-color: #57CC99;
    }
    .box-style{
        background-color: white;
    }
}
@media(max-width:680px){
    body{
        background-color: #EF798A;
    }
}