*{
    box-sizing: border-box;
}
.padre{
    padding: 10%;

}
.flex{
    display:flex;
    background-color: aqua;
    gap:1%;
    padding: 30vh 0.5%;
    .hijo{
        aspect-ratio: 3;
    }
}
.col-6{
    flex: 5;
}
.col-4{
    flex: 4;
}
.col-3{
    flex: 3;
}
.col-2{
    flex: 2;
}
.col-1{
    flex: 1;
}

/* .width-5{
    width: calc(5 * 100% / 12);
}
.width-4{
    width: calc(4 * 100% / 12);
}
.width-3{
    width: calc(3 * 100% / 12);
}
.width-2{
    width: calc(2 * 100% / 12);
}
.width-1{
    width: calc(1 * 100% / 12);
} */


#hijo-1{
    background-color: blue;
}
#hijo-2{
    background-color: red;
}
#hijo-3{
    background-color: yellow;
}
#hijo-4{
    background-color: green;
}